body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  margin: 10px 5px 0 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.adicionar {
  background-color: #28a745;
  color: #fff;
}

button.atualizar {
  background-color: #007bff;
  color: #fff;
}

button.ver-tarefas {
  background-color: #17a2b8;
  color: #fff;
}

button.deletar {
  background-color: #dc3545;
  color: #fff;
}

button.editar {
  background-color: #ffc107;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
}

h2 {
  margin: 0;
  color: #333;
}

p {
  margin: 5px 0 10px;
  color: #666;
}

